@use "../../assets/scss/variables" as vars;

.componentAltitude{
    position: relative;
    width: fit-content;
    
    border: 1.5px solid #fff5;
    border-radius: 24px 24px 0 0;
    margin: 0 auto;
    padding: 4px;


    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 24px 0 0 24px;
        overflow: hidden;
    }

    &__altitude{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff1;

        p{
            font-weight: 500;
            color: #fff;
            opacity: 0.7;
        }
    }
    
    p{
        padding: 8px 16px;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 77%;
    
    }

    &__last{
        opacity: 0.5;
    }

 
}