@use './variables' as vars;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Fonts
h1, h2, h3, h4, h5, h6, a {
    //font-family: "Rajdhani", serif;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
}

*:not(h1, h2, h3, h4, h5, h6, a){
    //font-family: "Poppins", serif;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

