@use "../../assets/scss/variables" as vars;

.componentKilometers{
   text-align: center;

    
    p{
        font-weight: 500;
        font-size: 18px;
        line-height: 77%;

        color: #fff;
        opacity: 0.5;

        span{
            font-weight: 400;
            font-size: 16px;
            line-height: 77%;
           
        }

    }
    
}