.componentTachometer {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 420px;
    min-width: 260px;
    height: auto;
    margin: 0 auto;

    .wrapper{
      background: linear-gradient(180deg, rgba(123, 212, 211, 0.05) 0%, rgba(123, 212, 211, 0) 100%);
      position: relative;
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        z-index: 0;
        background: #fff5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        z-index: 0;
        background: #fff5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
      }

    }

    .circle {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;


      transition: all 0.5s ease;
      background: radial-gradient(45.06% 45.06% at 39.97% 63.69%, rgba(123, 212, 211, 0.6) 0%, rgba(64, 110, 109, 0.6) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      border: 1.5px solid #fff5;



    }

    .mid{
      position: absolute;
      width: 75%;
      height: auto;
      aspect-ratio: 1;
      border-radius: 80px;
      z-index: 0;
      border: 1.5px solid #fff5;
      border-style: dashed;
      backdrop-filter: blur(100px);
      background: #07080810;

    }

    .inner {
      z-index: 1;
      position: absolute;
      width: 50%;
      height: auto;
      aspect-ratio: 1;
      background: 070808;
      border-radius: 50px;
      z-index: 1;
      backdrop-filter: blur(100px);
      border: 1.5px solid #fff5;


    }

    .label {
      position: absolute;
      z-index: 2;


      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 16px;


      h2{
        font-weight: 300;
        font-size: 50px;
        line-height: 77%;
        letter-spacing: 4%;
      }

    }

    .counter1{
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 20px;
      line-height: 77%;
      color: #fff5;
    }

    .counter2{
      position: absolute;
      bottom: 8px;
      right: 8px;
      font-size: 20px;
      line-height: 77%;
      color: #fff5;
    }

    .counter3{
      position: absolute;
      bottom: 8px;
      left: 8px;
      font-size: 20px;
      line-height: 77%;
      color: #fff5;
    }

    .counter4{
      position: absolute;
      top: 8px;
      left: 8px;
      font-size: 20px;
      line-height: 77%;
      color: #fff5;
    }



  }
