@use "../../assets/scss/variables" as vars;

.componentTemperature{
    position: relative;
    width: 75%;
    height: 100%;
    margin: 0 auto;

    &__bar{
        position: relative;
        width: 100%;
        height: 10px;
        border-radius: 24px;
        overflow: hidden;

        &__inner{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: linear-gradient(90deg, rgba(64, 110, 109, 0) 0%, rgba(123, 212, 211, 0.75) 100%);
            backdrop-filter: blur(40px);
            transition: all 0.3s linear;

        }
    }


    &__temperature__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-top: 4px;
    }

    &__min,
    &__max,
    &__temperature{
        font-weight: 500;
        font-size: 18px;
        line-height: 77%;
    }

    &__min,
    &__max{
        color: #fff;
        opacity: 0.5;
    }

    &__temperature{
        position: absolute;
        bottom: -10px;

        display: flex;
        align-items: center;
        gap: 4px;
        color: #fff;
        opacity: 0.8;

        img{
            width: 18px;
            height: 18px;
        }
        
    }
 
}