@use "../../assets/scss/variables" as vars;

.pageCockpit{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 10px 120px;
    background: #070808;
    gap: 120px;
    text-align: center;


    &__top{
        position: fixed;
        top: 10px;
        left: 0;
        width: 100%;
        padding: 0 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
        pointer-events: none;

        &-left,
        &-right{
            font-size: 18px;
            font-weight: 500;
            color: #ffffff;
            opacity: 0.9;
        }

        &-left{
            text-align: left;
        }

        &-right{
            text-align: right;
        }
    }

    & > *:not(.pageCockpit__top){
        flex: 1;
        width: 100%;
    }

    .left,
    .center,
    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 2;
        position: relative;
        pointer-events: none;

        &__top{
           flex: 0;
           width: 100%;
        }
        &__center{
            flex: 1;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__bottom{
            flex: 0;
            width: 100%;
        }
    }

    .center{
        z-index: 1;

        &__top,
        &__bottom{
            position: relative;
            z-index: 1;
        }

        &__center{
            position: relative;
            z-index: 0;
        }
    }

    .modelViewer{
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100vh;
        z-index: 0;

        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            z-index: 2;
            background: linear-gradient(270deg, transparent 0%, #070808 45%);
            pointer-events: none;
        }

        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
            z-index: 2;
            background:
            linear-gradient(90deg, transparent 0%, #070808 45%);
            pointer-events: none;
        }

    }

    &:before{
        content: '';
        width: 50vw;
        height: auto;
        aspect-ratio: 1;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 60%);
        border-radius: 100%;
        background: #7BD4D3;
        opacity: .3;
        -webkit-filter: blur(150px);
        z-index: 0;
    }




}
